[Bb]in/
[Oo]bj/

*.user
*.suo
*.sln.docstates

*.ncb
*.pdb
*.orig
*.opensdf
*.sdf

.vs/
*.vsp
*.vsn
*.log

packages/
.nuget/

project.lock.json

.idea/

*.db

Migrations/.Designer.cs.bak
Migrations/.Snapshot.cs.bak

ef-cache.json

appsettings.Development.json
appsettings.Local.json
*.localsettings

Secrets.json

*~

Logs

*.log